<?xml version="1.0" encoding="utf-8" ?>
<ApiConfigInfo>
  <!--App标识-->
  <AppId>SDC201212_11</AppId>
  <!--App口令-->
  <AppToken>44cf16a43a779e1ed57fe2098bde5a11</AppToken>
  <!--默认ESB配置信息-->
  <EsbName>ESB_TEST</EsbName>
  <EsbAddress>http://10.233.86.166:8011/EsrService.svc</EsbAddress>
  <!--App配置信息-->
  <PersistentCache>false</PersistentCache>
  <VisitServiceCenter>true</VisitServiceCenter>
  <!--App服务列表-->
  <SubscriptionInfoList>
    <!--服务中心订阅信息-->
    <SubscriptionInfo>
      <Service>ABC.BP.APG.ESB.EsaService</Service>
      <Operation>GetSubscription</Operation>
      <EsbName>ESB_TEST</EsbName>
      <Token>ff5437732c150de049603dae569b553e</Token>
      <Namespace>ABC.ESB</Namespace>
      <AccessAddress>http://10.233.86.166:8011/EsrService.svc</AccessAddress>
      <ServiceType>SOAP</ServiceType>
      <SoapVersion>soap 1.1</SoapVersion>
      <SoapAction>ABC.ESB/IEsaService/GetSubscription</SoapAction>
      <SoapFramework>WS</SoapFramework>
      <EncodingFormat>XML</EncodingFormat>
    </SubscriptionInfo>
  </SubscriptionInfoList>
</ApiConfigInfo>